.apartment-page {
  color: var(--primary-red);
}
.apartment__infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  gap: 1rem;
}
.apartment__infos-first {
  display: flex;
  flex-direction: column;
}
h1,
h2 {
  margin: 0;
}
.tags {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}
.tag {
  background-color: var(--primary-red);
  border-radius: 10px;
  width: 115px;
  color: white;
  font-size: var(--fs-small);
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  text-align: center;
  padding: 3px;
}
.apartment__infos-second {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.user__infos {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.user__infos p {
  margin: 0;
}
.user__infos-picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.rating {
  font-size: 2rem;
  color: gray;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.fill {
  color: var(--primary-red);
}

@media screen and (max-width: 600px) {
  .apartment__infos {
    flex-direction: column;
  }
  .apartment__infos-second {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
