.dropdown__container {
  display: flex;
  margin: 0 auto 63px;
  gap: 2rem;
}
.dropdown__container-apartment {
  width: 100%;
}
.dropdown__container-about {
  margin: 0 10% 63px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--fs-default);
}
.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  border-radius: 5px;
  background-color: var(--primary-red);
  color: white;

  font-weight: 500;
  padding-inline: 1rem;
  cursor: pointer;
}
.drowpdown__description {
  background-color: var(--bg-grey);
  border-radius: 5px;
  padding: 1rem;
}

.drowpdown__description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 600px) {
  .dropdown__container {
    flex-direction: column;
  }
  .dropdown {
    font-size: var(--fs-small);
  }
}
@media screen and (max-width: 880px) {
  .dropdown__container-about {
    flex-direction: column;
  }
}
