header {
  margin: 40px 100px;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.header__Navbar {
  display: inline-flex;
  gap: 2rem;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}

.header__Navbar a {
  text-decoration: none;
  color: #ff6060;
}

.header__Navbar .active {
  text-decoration: underline;
}
