header {
  margin: 4% 10%;
}

.header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.header__Navbar {
  display: inline-flex;
  gap: 2rem;
  font-size: var(--fs-default);
  font-weight: 500;
  align-items: center;
}

.header__Navbar a {
  text-decoration: none;
  color: var(--primary-red);
}

.header__Navbar .active,
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .header__Navbar {
    font-size: var(--fs-small);
    gap: 1rem;
    text-transform: uppercase;
  }
  .header img {
    width: 70%;
  }
}
